@page
@model MyKitchenApp.Pages.IndexModel
@{
    ViewData["Title"] = "О приложении";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h4>Приложение демонстрирует CRUD операции над базой MySQL с помощью EntityFramework.Core.</h4>

